.test {
    filter: invert(77%) sepia(8%) saturate(83%) hue-rotate(325deg) brightness(109%) contrast(87%);

    &:hover {
        transform: scale(1.2);
        transition: 0.3s ease;
    }
}

.linkContainer {
    display: flex;
    justify-content: space-between;
}