.pageContainer {
    background: var(--page-background);
    display: flex;
    justify-content: space-between;
}

.spotify {
    width: 80%;
}

.leftPage {
    width: 40%;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    /* background-color: #fff; */
}

.aboutContainer {
    color: var(--primary-txt);
    font-family: var(--font);
    width: 80%;
}

.aboutContainer h2 {
    text-align: center;
}

.rightPage {   
    width: 40%;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    /* background-color: #fff; */
}

.youtube {
    width: 80%;
}